{% extends "base.html.twig" %}

{% block title %}Bienvenue sur Café e-Shop{% endblock %}

{% block body %}
    <div id="mainPictureDiv">
        <div>
            <h1>Café e-Shop</h1>
            <a href="#!" class="btn btn-light">Je commande !</a>
        </div>
    </div>
{% endblock %}